page-sign-in {
    .backgroung{
       background-color: #ab0000;
    }

    .foreground{
      text-align: center;
      color: #ab0000;
    }

    .button{
      background-color: #0c145b;
      text-align: center;
    }
}
