page-home {
  .backgroung{
     background-color: #ab0000;
  }

  .foreground{
    text-align: center;
    color: #ab0000;
  }

  .button{
    background-color: #ab0000;
    text-align: center;
  }

  .Myicon{
    font-size: 100px;
    cursor: pointer;
  }

  b{
    color: #ab0000;
  }

  p{
    color: black;
  }

  .text{
    color: black;
  }
}
